#navbar {
  background: white;
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.05);
  color: #bec3d0;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  width: 100%;
  box-sizing: border-box;
} #navbar a {
    padding: 0 5pt;
}

#sidebar {
  padding: 10px;
  flex-basis: 25vw;
}

#content {
  padding: 10px 10px 10px 0;
}

#admin-panel {
  background: $blue;
  bottom: 0;
  margin: 10px;
  padding: 10px;
  opacity: 0.8;
  position: fixed;
  right: 0;
  z-index: 100;

  a {
    color: white;
  }
}

#footer {
  box-sizing: border-box;
  color: $darkergray;
  position: absolute;
  bottom: -60px;
  width: 100vw;
  background: #e3e8ef;
  margin-top: 10px;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
}

.quick-links {
    strong {
        margin-right: 0.5em;
    }
    a {
        margin: 0 0.5em;
    }
}

#user-dropdown {
    display: none;
    z-index: 100;
    position: absolute;
    right: 10pt;
    top: 40pt;
    background: white;
    -webkit-box-shadow: 0px 2px 20px -8px $darkergray; 
    box-shadow: 0px 2px 20px -8px $darkergray;
    border-radius: $border-radius;
    min-width: 300pt;
    max-width: 100%;
    padding: 1em;
}

#user-info {
    position: relative;
    display: inline-block;
}

#user-info:hover + #user-dropdown {
    display: block;
}

#user-dropdown:hover {
    display: block;
}