
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

/*
** FLEXBOX
*/

.flex {
    display: flex;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}