<p class="quick-links gray">
    <strong>Prime City</strong>
    <a href="{% url 'goddess_sun_page' %}">Sun Goddess</a>
    <a href="{% url 'bank_page' %}">Bank</a>
    <a href="{% url 'safety_deposit_box_page' %}">Safety Deposit Box</a>
    <a href="{% url 'hospital_page' %}">Hospital</a>
    <a href="{% url 'pound_page' %}">Pound</a>
    <a href="{% url 'dump_page' %}">City Dump</a>
    <a href="{% url 'shop_page' shop_url='quick-trip' %}">Quick Trip</a>
    <a href="{% url 'shop_page' shop_url='shop-plush' %}">Shop Plush</a>
</p>