{% extends 'base.html' %}

{% block title %} - Crystal Quarry{% endblock %}

{% load staticfiles %}
{% block content %}

{% include 'includes/caves_links.html' %}

<h1>Crystal Quarry</h1>
<p>Take your pets dowsing and get a chance to find a rare crystal! These crystals are very pretty and may be found to have magical qualities... Once per hour, come here to test your skills and try to get a crystal.</p>
<p>Each attempt will cost you 250 points.</p>

{% if request.user.profile.dowsing_rod > 0 %}
	{% if crystal_claim == None %}
{% if request.user.profile.points >= 250 %}
	<div class="flex" style="width:50%;margin: 0 auto;">
		<div class="flex-split" style="margin: 2px;">
			<a href="{% url 'dowse' %}">
				<img src="{% static 'img/place/quarry/quarry-01.png' %}" width="100%" />
			</a>
		</div>
		<div class="flex-split" style="margin: 2px;">
			<a href="{% url 'dowse' %}">
				<img src="{% static 'img/place/quarry/quarry-02.png' %}" width="100%" />
			</a>
		</div>
		<div class="flex-split" style="margin: 2px;">
			<a href="{% url 'dowse' %}">
				<img src="{% static 'img/place/quarry/quarry-03.png' %}" width="100%" />
			</a>
		</div>
	</div>
	<div class="flex" style="width:50%;margin: 0 auto;">
		<div class="flex-split" style="margin: 2px;">
			<a href="{% url 'dowse' %}">
				<img src="{% static 'img/place/quarry/quarry-04.png' %}" width="100%" />
			</a>
		</div>
		<div class="flex-split" style="margin: 2px;">
			<a href="{% url 'dowse' %}">
				<img src="{% static 'img/place/quarry/quarry-05.png' %}" width="100%" />
			</a>
		</div>
		<div class="flex-split" style="margin: 2px;">
			<a href="{% url 'dowse' %}">
				<img src="{% static 'img/place/quarry/quarry-06.png' %}" width="100%" />
			</a>
		</div>
	</div>
	<div class="flex" style="width:50%;margin: 0 auto;">
		<div class="flex-split" style="margin: 2px;">
			<a href="{% url 'dowse' %}">
				<img src="{% static 'img/place/quarry/quarry-07.png' %}" width="100%" />
			</a>
		</div>
		<div class="flex-split" style="margin: 2px;">
			<a href="{% url 'dowse' %}">
				<img src="{% static 'img/place/quarry/quarry-08.png' %}" width="100%" />
			</a>
		</div>
		<div class="flex-split" style="margin: 2px;">
			<a href="{% url 'dowse' %}">
				<img src="{% static 'img/place/quarry/quarry-09.png' %}" width="100%" />
			</a>
		</div>
	</div>
	<div class="flex" style="width:50%;margin: 0 auto;">
	<p class="gray">Click an area to try for a crystal.</p>
	</div>
{% else %}
<p class="gray">You do not have enough points to try dowsing right now.</p>
{% endif %}
	{% else %}
	<p class="gray">{{ crystal_claim.message }} Please come back next hour to try again.</p>
	{% endif %}
{% endif %}


{% if request.user.profile.dowsing_rod == 0 %}
</div>
<div class="content-box-body border-top-gray">

	<h2 class="gray">Buy Rod</h2>
<p>You currently do not have a dowsing rod. You may purchase one for 10,000 points. This will not count towards your total inventory count.</p>
<div class="flex-wrap mt10" style="justify-content: center;">
  <div class="inventory-box">
    <img src="{% static 'img/place/quarry/basic-rod.png' %}" width="100%" />
    <br /><small class="semibold">Basic Rod</small>
  </div>
 </div>
 <br />

<a href="{% url 'purchase_dowsing_rod' %}"><button>Buy Basic Rod for 10,000 Points</button></a>

{% elif request.user.profile.dowsing_rod == 1 %}
</div>
<div class="content-box-body border-top-gray">
	<h2 class="gray">Upgrade Rod</h2>
	<p>A higher quality dowsing rod will give you a better chance of having luck when dowsing. It will cost you 20,000 points to upgrade from a Basic Rod to a Better Rod.</p>
	<div class="flex-wrap mt10" style="justify-content: center;">
	  <div class="inventory-box mr10">
	    <img src="{% static 'img/place/quarry/basic-rod.png' %}" width="100%" />
	    <br /><small class="semibold">You have a Basic Rod.</small>
	  </div>
	  <div class="inventory-box mr10">
	    <br /><br /><small class="semibold">Upgrade to...</small>
	  </div>
	  <div class="inventory-box mr10">
	    <img src="{% static 'img/place/quarry/better-rod.png' %}" width="100%" />
	    <br /><small class="semibold">A Better Rod.</small>
	  </div>
	 </div>
	 <br />
	 <a href="{% url 'upgrade_dowsing_rod' %}"><button>Upgrade to Better Rod for 20,000 Points</button></a>

{% elif request.user.profile.dowsing_rod == 2 %}
</div>
<div class="content-box-body border-top-gray">
	<h2 class="gray">Upgrade Rod</h2>
	<p>A higher quality dowsing rod will give you a better chance of having luck when dowsing. It will cost you 50,000 points to upgrade from a Better Rod to a Best Rod.</p>
	<div class="flex-wrap mt10" style="justify-content: center;">
	  <div class="inventory-box mr10">
	    <img src="{% static 'img/place/quarry/better-rod.png' %}" width="100%" />
	    <br /><small class="semibold">You have a Better Rod.</small>
	  </div>
	  <div class="inventory-box mr10">
	    <br /><br /><small class="semibold">Upgrade to...</small>
	  </div>
	  <div class="inventory-box mr10">
	    <img src="{% static 'img/place/quarry/best-rod.png' %}" width="100%" />
	    <br /><small class="semibold">A Best Rod.</small>
	  </div>
	 </div>
	 <br />
	 <a href="{% url 'upgrade_dowsing_rod' %}"><button>Upgrade to Best Rod for 50,000 Points</button></a>

{% elif request.user.profile.dowsing_rod == 3 %}
</div>
<div class="content-box-body border-top-gray">
	<h2 class="gray">Your Rod</h2>
	<p>You have a very high quality dowsing rod that will give you a better chance of having luck when dowsing.</p>
	<div class="flex-wrap mt10" style="justify-content: center;">
	  <div class="inventory-box mr10">
	    <img src="{% static 'img/place/quarry/best-rod.png' %}" width="100%" />
	    <br /><small class="semibold">You have a Best Rod.</small>
	  </div>
	</div>
{% endif %}


</div>
<div class="content-box-body border-top-gray">
	<h2 class="gray">Trade In Crystals</h2>
	<p>When you reach five of any particular crystal, you may trade them in for a larger size to save inventory space.</p>
	<div class="flex-wrap m10">
	{% for key, value in inventory.items %}
		<div class="inventory-box mr10">
		    <img src="{% static 'img/items/crystal/small-' %}{{ key }}-crystal-piece.png" width="60%" />
		    <br /><small class="semibold">You have {{ value }}</small><br />
		    {% if value >= 5 %}<a href="{% url 'trade_crystals' crystal=key %}"><button>Trade in 5</button></a>{% endif %}
		  </div>
	{% endfor %}
	</div>

{% endblock %}