{% extends 'base.html' %}

{% block title %} - Site Rules{% endblock %}

{% block content %}

<h1>Primaria World Rules</h1>
<p>This website was developed to be a safe and friendly place. By joining Primaria, you are agreeing to these rules. Not following them may result in <a href="#action">disciplinary actions.</a></p>

<h2 class="gray">1. Be Respectful</h2>
<p>No harrassment of any kind will be tolerated to any member. This includes but is not limited to racist or homophobic comments, spreading rumors, begging, or attacking others for any reason.</p>

<h2 class="gray">2. Play Fair</h2>
<p>Having multiple accounts is not allowed, and suspicious activity will be recorded. Avoid backing out of trades, misleading users, and scamming users.</p>

<h2 class="gray">3. Stay PG</h2>
<p>Primaria is for anyone 13 years or older, so try to remember that some users will be that young. Avoid use of harsh language, although it is not forbidden unless used to the extreme. Absolutely no graphic imagery, and anything pertaining to violence, self-harm, or alcohol/drug abuse is not allowed and your post will be deleted without warning.</p>

<h2 class="gray">4. No Spam or Advertising</h2>
<p>Examples of spam include but are not limited to, off-topic discussion, short and thoughtless replies (e.g. "cool!"), or random replies. Advertising, promotion, or referrals of any website are not permitted for any reason. Discussion of a particular site, however, is fine in the correct Board.</p>

</div>
<div class="border-top-gray content-box-body">

<h2 id="action" class="gray">Disciplinary Actions</h2>

<p>If you adhere to these rules, you won't have any trouble on Primaria World. However, in the event of a case where action is needed, one of these things could happen.</p>

<ul>
	<li><span class="semibold">Friendly Reminder</span> - For accidental or light issues, a staff member will message you letting you know of a rule you have broken. This will not be recorded.</li>
	<li><span class="semibold">Warning</span> - For more serious issues, you will receive a message from a staff member as well as a record on your account.</li>
	<li><span class="semibold">Permanent Ban</span> - For very serious issues, you will not be allowed to play Primaria World again. This usually will not happen without a warning.</li>
</ul>

{% endblock %}