{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

<center><img src="{% static 'img/goddess/commerce-goddess.png' %}" width="50%" /></center>

{% include 'includes/suburb_links.html' %}

<h1>Goddess of Commerce</h1>


</div>
<div class="content-box-body border-top-gray">
	<h2 class="gray">Quests <small>({{quests_today}}/5)</small></h2>
	<br />
	{% if quests_today < 5 and not unfinished_quest %}
	<div class="quote darkergray">Hi, and welcome to the realm of the Goddess of Commerce. Upon entering, assuming eligibility, you agree to the assignment of up to five (5) quests and are liable for the completion or non-completion as stated in Article 215. Furthermore, in the event of a Class 4A non-completion exemption, assignments may be revoked as stated in article 218.</div>
	<p><a href="{% url 'start_goddess_quest' goddess='commerce' %}"><button class="small">Accept Quest</button></a></p>
	{% else %}
		{% if quests_today == 5 %}
			<div class="quote darkergray">No loitering, please.</div><br />
		{% elif unfinished_quest %}
			<div class="quote darkergray">I am currently asking you to bring me a <b>{{ unfinished_quest.requested_item }}</b>. Bring this to me and you will be rewarded with
				{% if unfinished_quest.reward_item and unfinished_quest.reward_points %}a {{ unfinished_quest.reward_item }} and {{ unfinished_quest.reward_points }} points.{% elif unfinished_quest.reward_item %}a {{ unfinished_quest.reward_item }}.{% else %} {{ unfinished_quest.reward_points }} points.{% endif %}
			</div>
			<div class="flex-wrap">
			<div class="inventory-box m10">
				<img src="{% static 'img/items/' %}{{ unfinished_quest.requested_item.category.name }}/{{ unfinished_quest.requested_item.url }}.png" width="60%" />
				<br /><small class="semibold">Bring me this...</small>
			</div>
			{% if unfinished_quest.reward_item and unfinished_quest.reward_points %}
				<div class="inventory-box m10">
					<img src="{% static 'img/items/' %}{{ unfinished_quest.reward_item.category.name }}/{{ unfinished_quest.reward_item.url }}.png" width="60%" />
					<br /><small class="semibold">...To get this...</small>
				</div>
				<div class="inventory-box m10">
					<br /><br /><small class="semibold">As well as {{ unfinished_quest.reward_points }} Points!</small>
				</div>
			{% elif unfinished_quest.reward_item %}
				<div class="inventory-box m10">
					<img src="{% static 'img/items/' %}{{ unfinished_quest.reward_item.category.name }}/{{ unfinished_quest.reward_item.url }}.png" width="60%" />
					<br /><small class="semibold">...To get this!</small>
				</div>
			{% else %} 
				<div class="inventory-box m10">
					<br /><br /><small class="semibold">To get {{ unfinished_quest.reward_points }} Points!</small>
				</div>
			{% endif %}
			</div>
			<p>
				<div class="flex">
					<div class="flex-grow mr10">
						<a href="{% url 'complete_goddess_quest' goddess='commerce' %}"><button class="primary">Give Item</button></a>
					</div>
					<div class="flex-shrink">
						<a href="{% url 'cancel_goddess_quest' goddess='commerce' %}"><button class="small">Cancel Quest</button></a>
					</div>
				</div>
			</p>
		{% endif %}
	{% endif %}

{% if completed != None %}
<div class="remodal" data-remodal-id="completed">
  <div class="remodal-header">
    <button data-remodal-action="close" class="remodal-close"></button>
    Success!
  </div>
  <div class="remodal-body">
  	{{ completed }}
  </div>
  <div class="remodal-body border-top-gray">
      <div class="right mb10">
        <button data-remodal-action="cancel">OK</button>
      </div>
    </form>
  </div>
</div>
{% endif %}

{% if deactivated_card %}
</div>
<div class="content-box-body border-top-gray">
	<h2 class="gray">Financial Office</h2>
	<p>Hmm, you say your card doesn't work? According to Article 460, Section A, it will be a 1000 point upgrade fee to upgrade to the new system. That's funny though, this card isn't really the design we use in this city... anyway, as soon as we get this nominal fee your card will be processed posthaste.</p>

	<a href="{% url 'activate_card' %}"><button>Pay 1000 points to fix card</button></a>

{% endif %}

{% if activated_card %}
</div>
<div class="content-box-body border-top-gray">
	<h2 class="gray">Financial Office</h2>
	<p>Your card has been activated and returned to you.</p>

{% endif %}


<script>

{% if completed %}
var inst = $('[data-remodal-id=completed]').remodal();
inst.open();
{% endif %}

</script>
 
{% endblock %}