{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

<center><img src="{% static 'img/goddess/sun-goddess.png' %}" width="50%" /></center>


{% include 'includes/city_links.html' %}

<h1>Sun Goddess</h1>


</div>
<div class="content-box-body border-top-gray">
	<h2 class="gray">Quests <small>({{quests_today}}/5)</small></h2>
	<br />
	{% if quests_today < 5 and not unfinished_quest %}
	<div class="quote darkergray">Do you feel the rays of the sun shining upon you, citizen? Help me to keep my energy and find for me these objects.</div>
	<p><a href="{% url 'start_goddess_quest' goddess='sun' %}"><button class="small">Accept Quest</button></a></p>
	{% else %}
		{% if quests_today == 5 %}
			<div class="quote darkergray">The divine light burns brighter from the strength of your actions.</div><br />
		{% elif unfinished_quest %}
			<div class="quote darkergray">I am currently asking you to bring me a <b>{{ unfinished_quest.requested_item }}</b>. Bring this to me and you will be rewarded with
				{% if unfinished_quest.reward_item and unfinished_quest.reward_points %}a {{ unfinished_quest.reward_item }} and {{ unfinished_quest.reward_points }} points.{% elif unfinished_quest.reward_item %}a {{ unfinished_quest.reward_item }}.{% else %} {{ unfinished_quest.reward_points }} points.{% endif %}
			</div>
			<div class="flex-wrap">
			<div class="inventory-box m10">
				<img src="{% static 'img/items/' %}{{ unfinished_quest.requested_item.category.name }}/{{ unfinished_quest.requested_item.url }}.png" width="60%" />
				<br /><small class="semibold">Bring me this...</small>
			</div>
			{% if unfinished_quest.reward_item and unfinished_quest.reward_points %}
				<div class="inventory-box m10">
					<img src="{% static 'img/items/' %}{{ unfinished_quest.reward_item.category.name }}/{{ unfinished_quest.reward_item.url }}.png" width="60%" />
					<br /><small class="semibold">...To get this...</small>
				</div>
				<div class="inventory-box m10">
					<br /><br /><small class="semibold">As well as {{ unfinished_quest.reward_points }} Points!</small>
				</div>
			{% elif unfinished_quest.reward_item %}
				<div class="inventory-box m10">
					<img src="{% static 'img/items/' %}{{ unfinished_quest.reward_item.category.name }}/{{ unfinished_quest.reward_item.url }}.png" width="60%" />
					<br /><small class="semibold">...To get this!</small>
				</div>
			{% else %} 
				<div class="inventory-box m10">
					<br /><br /><small class="semibold">To get {{ unfinished_quest.reward_points }} Points!</small>
				</div>
			{% endif %}
			</div>
			<p>
				<div class="flex">
					<div class="flex-grow mr10">
						<a href="{% url 'complete_goddess_quest' goddess='sun' %}"><button class="primary">Give Item</button></a>
					</div>
					<div class="flex-shrink">
						<a href="{% url 'cancel_goddess_quest' goddess='sun' %}"><button class="small">Cancel Quest</button></a>
					</div>
				</div>
			</p>
		{% endif %}
	{% endif %}

{% if completed != None %}
<div class="remodal" data-remodal-id="completed">
  <div class="remodal-header">
    <button data-remodal-action="close" class="remodal-close"></button>
    Success!
  </div>
  <div class="remodal-body">
  	{{ completed }}
  </div>
  <div class="remodal-body border-top-gray">
      <div class="right mb10">
        <button data-remodal-action="cancel">OK</button>
      </div>
    </form>
  </div>
</div>
{% endif %}


<script>

{% if completed %}
var inst = $('[data-remodal-id=completed]').remodal();
inst.open();
{% endif %}

</script>
 
{% endblock %}